2@import url('https://fonts.googleapis.com/css2?family=Anton&family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Lobster&family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Press+Start+2P&display=swap');

html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    color: black;
    box-sizing: border-box;
}

body
{
    background-color: #E5E3C9;
}

article p
{
    background-color: #90E0EF;
    border-radius: 60px;
    padding: 10px;
    border-style: solid;
}

/*Body*/

.titlu-intro{
    text-align: center;
    font-size: 30px;
    padding: 5px;
    background-color: #B4CFB0;
}

.text-despre{
    display: block;
    padding: 10px 30px;
    justify-content: right;
    font-size: 20px;
    font-family: 'Anton', sans-serif;
    background: rgba(255, 255, 255, 0.6);
    margin-bottom: 10px;
}

hr{
    border: 1px solid black;
}

.imagine{
    display: block;
    float: left;
    margin: 15px;
    border-style: solid;
    width: 31%;
    border-radius: 40px;
}

.imagine2{
    display: block;
    float: right;
    margin: 10px;
    border-style: solid;
    width: 30%;
    height: 270px;
    border-radius: 40px;
}

a.active{
    text-decoration: underline;
    text-decoration-color: #519830;
    text-decoration-thickness: 3px;
    text-decoration-style: solid;
}

.collapsible {
    background-color: #B4CFB0;
    color: white;
    cursor: pointer;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 30px;
    padding: 10px;
    font-family: 'Anton', sans-serif;
    -webkit-text-stroke: 0.6px black;
    opacity: 80%;
}

.collapsible:hover {
    background-color: #94B49F;
}

.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: rgba(241, 241, 241, 0.88);
}

.faqs{
    text-align: center;
    font-size: 50px;
    color: white;
    font-family: 'Anton', sans-serif;
    -webkit-text-stroke: 1px black;
    opacity: 80%;
    padding: 10px;
}

.read-more{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 10px;
    color: white;
    font-family: 'Anton', sans-serif;
    opacity: 80%;
}

.read-more a,h1{
    color: #fffefe;
    -webkit-text-stroke: 0.6px black;
}
.read-more a{
    background: #94B49F;
    border-radius: 10px;
    padding: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    text-decoration: none;
    opacity: 80%;
}

.clicked{
    text-decoration: none;
    font-family: 'Anton', sans-serif;
    -webkit-text-stroke: 0.6px black;
    opacity: 80%;
    color: white;
}

