@import url('https://fonts.googleapis.com/css2?family=Anton&family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Lobster&family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Press+Start+2P&display=swap');

*{
    margin: 0;
    padding: 0;
    color: black;

}

body{
    background-color: #E5E3C9;
    font-family: 'Anton', sans-serif;
    position: relative;
    padding-bottom: 100px;
    min-height: 100vh;
}


.text1{
    text-align: center;
    font-size: 24px;
    font-family: "Times New Roman", Times, serif;
    margin-bottom: 20px;
    margin-top: 10px;
}
.imagine {
    float: left;
    margin-right: 10px;
    width: 30%;
    border-radius: 50px;
}

.nft1{
    height: 330px;
    width: 33%;
    float: left;
    margin-right: 10px;
    border-radius: 50px;
    border-style: solid;
    border-width: 4px;
    margin-top: 70px;
}

.titlusection a,h4,h5{
    color: black;
    font-family: 'Luckiest Guy', cursive;
    text-decoration: none;
    font-size: 45px;
    text-align: left;
    opacity: 80%;
    padding: 23px;

}

.titlusection a{
    font-size: 45px;
    font-family: 'Anton', sans-serif;
    border-style: solid;
    border-radius: 50px;
    background-color: white;
    text-transform: uppercase;
    opacity: 70%;
    border-width: 4px;
    padding: 5px 5px;
    margin: 0;




}

.text-despre{
    font-size: 17px;
    font-family: 'Anton', sans-serif;
    margin-top: 30px;
    border-width: 4px;
    display: block;
    justify-content: left;


}

.logo
{
    text-align: center;
    width: 100%;
    -webkit-text-stroke-width: 0.6px;
    -webkit-text-stroke-color: white;
    font-size: 50px;
    font-family: 'Bungee Shade', cursive;
    color: #979a8d;
}

.navbar a {
    background-color: rgba(169, 229, 234, 0.55);
    border-radius: 10px;
    padding: 8px;
    border-style: solid;;
    margin-right: 25px;
    margin-left: 25px;
    color: #362706;
    border-color: black;
    border-width: 1px;
    -webkit-text-stroke-width: 0.6px;
    -webkit-text-stroke-color: rgba(255, 251, 251, 0.93);
    text-decoration: none;
    font-size: 18px;
    opacity: 100%;
}

.navbar{
    font-family: 'Anton', sans-serif;
    background-color: #94B49F;
    margin-bottom: 10px;
    border-color: black;
    padding: 1%;
    border-style: solid;
    align-items: center;
    display: flex;
    justify-content: center;
    opacity: 90%;
}


.navbar a:hover
{
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    transition: 1s
}
article{
    margin: 20px;
}

article p
{
    border-radius: 60px;
    padding: 10px;
    border-style: solid;
    background-color: rgba(218, 231, 218, 0.95);
    border-color: #B4CFB0;
    border-width: 1px;
}

footer
{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    color: black;
    font-family: "Times New Roman", Times, serif;
    text-align: center;
    font-size: 15px;
    padding-top: 5px;
    border-style: solid;
    text-transform: uppercase;
    text-decoration: none;

}



.text1{
    background-color: #90E0EF;
    border-radius: 200px;
    padding: 10px;
    border-style: solid;
}

.titlu-intro{
    font-size: 45px;
    font-family: 'Anton', sans-serif;
    border-style: solid;
    border-radius: 50px;
    display: block;
    text-align: center;
    background-color: #B4CFB0;;
    text-transform: uppercase;
    -webkit-text-stroke: 0.4px white;
    opacity: 80%;
    margin-bottom: 30px;
    border-width: 4px;

}

#nft2{
    height: 330px;
    width: 33%;
    border-radius: 50px;
    border-style: solid;
    border-width: 4px;
    float: left;
    margin-right: 30px;
    margin-bottom: 15px;


}

.nft3{
    height: 350px;
    width: 33%;
    border-radius: 50px;
    border-style: solid;
    border-width: 4px;
    float:left;
    margin-right: 30px;
    margin-bottom: 15px;




}

.pret{

    font-family: 'Luckiest Guy', cursive;
    font-size: 35px;
    color: greenyellow;
    padding-top: 10px;
    -webkit-text-stroke-width: 0.6px;
    -webkit-text-stroke-color: black;

}






