@import url('https://fonts.googleapis.com/css2?family=Anton&family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Lobster&family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Lobster&family=Luckiest+Guy&family=Shizuru&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Press+Start+2P&display=swap');

html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    color: black;
    box-sizing: border-box;
}

body{
    background-color: #E5E3C9;
    font-family: 'Anton', sans-serif;
    position: relative;
    padding-bottom: 100px;
    min-height: 100vh;
}


.text1{
    text-align: center;
    font-size: 24px;
    font-family: "Times New Roman", Times, serif;
    margin-bottom: 20px;
    margin-top: 10px;
}

.text-intro{
    align-items: center;
    margin-left: 250px;
    font-size: 20px;
}

.titlu {
    margin-top: 50px;
    text-align: center;
    font-size: 40px;
    color: #f2f2f2;
    font-family: 'Anton', sans-serif;
    margin-bottom: 35px;
    margin-left: 250px;
    text-transform: uppercase;
    border-color: black;
    border-style: solid;
    border-radius: 10px;
    background-color: rgba(112, 227, 147, 0.81);
    -webkit-text-stroke: 1px black;
    opacity: 80%;

}

.titlu-principal{
    margin-top: 50px;
    font-size: 45px;
    font-family: 'Anton', sans-serif;
    margin-bottom: 10px;
    margin-left: 250px;
    border-style: solid;
    border-radius: 10px;
    color: #f2f2f2;
    border-color: black;
    display: block;
    background-color: rgba(112, 227, 147, 0.81);
    text-transform: uppercase;
    -webkit-text-stroke: 1px black;
    opacity: 80%;
}

.container{
    width: 100%;
    max-width: 1200px;
    text-align: center;
    margin: 0 -75px;

}


.text2{
    text-align: center;
    font-size: 20px;
    font-family: "serif";
    margin-top: 30px;
}

/* Navbar*/

.logo
{
    text-align: center;
    width: 100%;
    -webkit-text-stroke-width: 0.6px;
    -webkit-text-stroke-color: rgba(255, 255, 255, 0.84);
    font-size: 50px;
    font-family: 'Bungee Shade', cursive;
    color: #979a8d;
}

.navbar a {
    background-color: rgba(169, 229, 234, 0.55);
    border-radius: 10px;
    padding: 8px;
    border-style: solid;;
    margin-right: 25px;
    margin-left: 25px;
    border-color: black;
    border-width: 1px;
    text-decoration: none;
    font-size: 18px;
    opacity: 100%;
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.navbar{
    font-family: 'Anton', sans-serif;
    background-color: #94B49F;
    margin-bottom: 10px;
    border-color: black;
    padding: 1%;
    border-style: solid;
    align-items: center;
    display: flex;
    justify-content: center;
    opacity: 90%;
}


.navbar a:hover
{
    color: #44c64c;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    transition: 1s
}


article p
{
    background-color: rgba(218, 231, 218, 0.95);
    border-radius: 20px;
    padding: 10px;
    border-style: solid;
    border-color: #B4CFB0;
    border-width: 10px;
}

.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(148, 180, 159, 0.69);
    color: black;
     font-family: "Times New Roman", Times, serif;
    text-align: center;
     font-size: 20px;
    border-style: solid;
}


.imagine-titlu{
    display: block;
    margin-right: auto;
    width: 50%;
    border-style: solid;
    border-radius: 50px;
    margin-left: 410px;
    margin-bottom: 20px;

}

.imagine-intrebuintari{

    display: flex;
    width: 70%;
    border-style: solid;
    border-radius: 50px;
    margin-left: 305px;
    margin-bottom: 20px;
    margin-top: 30px;
    align-items: center;
    justify-content: center;
}


.titlu-tipuri{
    margin-top: 50px;
    font-size: 45px;
    font-family: 'Anton', sans-serif;
    margin-bottom: 10px;
    margin-left: 250px;
    border-style: solid;
    border-radius: 50px;
    display: block;
    background-color: rgb(255, 255, 255);
    justify-content: left;
    text-transform: uppercase;
}

.text-inceput{
    text-align: center;
    font-size: 72px;
    color: #B4CFB0;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    margin: 30px;
    padding: 5px 10px;
}

a.active{
    text-decoration: underline;
    text-decoration-color: #519830;
    text-decoration-thickness: 3px;
    text-decoration-style: solid;
}

.column {
    float: left;
    width: 20%;
    padding: 5px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.icon{
    max-width: 120px;
    margin-right: auto;
    margin-left: 180px;
    display: block;
    margin-bottom: 10px;
}

.icon-margin{
    max-width: 120px;
    margin-left: 170px;
    margin-bottom: 4px;
}

.row p{
    background-color: rgba(169, 229, 234, 0.55);
    display: inline;
    margin-left: 190px;
    border-width: 4px;
    color: white;
    padding: 0 10px;
    border-radius: 5px;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
}



