@import url('https://fonts.googleapis.com/css2?family=Anton&family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Lobster&family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Lobster&family=Luckiest+Guy&family=Shizuru&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Press+Start+2P&display=swap');

html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    color: black;
    box-sizing: border-box;
}

body{
    font-family: 'Anton', sans-serif;
    position: relative;
    padding-bottom: 100px;
    min-height: 100vh;
}


.text1{
    text-align: center;
    font-size: 24px;
    font-family: "Times New Roman", Times, serif;
    margin-bottom: 20px;
    margin-top: 10px;
}

.text-intro{
    align-items: center;
    margin-left: 250px;
    font-size: 20px;
}

.titlu {
    margin-top: 50px;
    text-align: center;
    font-size: 40px;
    color: #f2f2f2;
    font-family: 'Anton', sans-serif;
    margin-bottom: 35px;
    margin-left: 250px;
    text-transform: uppercase;
    border-color: black;
    border-style: solid;
    border-radius: 10px;
    background-color: rgba(112, 227, 147, 0.81);
    -webkit-text-stroke: 1px black;
    opacity: 80%;

}

.titlu-principal{
    margin-top: 50px;
    font-size: 45px;
    font-family: 'Anton', sans-serif;
    margin-bottom: 10px;
    margin-left: 250px;
    border-style: solid;
    border-radius: 10px;
    color: #f2f2f2;
    border-color: black;
    display: block;
    background-color: rgba(112, 227, 147, 0.81);
    text-transform: uppercase;
    -webkit-text-stroke: 1px black;
    opacity: 80%;
}

.container{
    width: 100%;
    max-width: 1200px;
    text-align: center;
    margin: 0 -40px;

}

.text2{
    text-align: center;
    font-size: 20px;
    font-family: "serif";
    margin-top: 30px;
}

article p
{
    background-color: rgba(218, 231, 218, 0.95);
    border-radius: 20px;
    padding: 10px;
    border-style: solid;
    border-color: #B4CFB0;
    border-width: 10px;
}

.imagine-titlu{
    display: block;
    margin-right: auto;
    width: 50%;
    border-style: solid;
    border-radius: 50px;
    margin-left: 410px;
    margin-bottom: 20px;

}

.imagine-intrebuintari{

    display: flex;
    width: 70%;
    border-style: solid;
    border-radius: 50px;
    margin-left: 305px;
    margin-bottom: 20px;
    margin-top: 30px;
    align-items: center;
    justify-content: center;
}

.titlu-tipuri{
    margin-top: 50px;
    font-size: 45px;
    font-family: 'Anton', sans-serif;
    margin-bottom: 10px;
    margin-left: 250px;
    border-style: solid;
    border-radius: 50px;
    display: block;
    background-color: rgb(255, 255, 255);
    justify-content: left;
    text-transform: uppercase;
}

.text-inceput{
    text-align: center;
    font-size: 72px;
    color: rgba(167, 203, 179, 0.98);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    margin: 30px;
    padding: 5px 10px;
    background-color: rgba(244, 244, 240, 0.79);
    border-radius: 100px;
}

a.active{
    text-decoration: underline;
    text-decoration-color: #519830;
    text-decoration-thickness: 3px;
    text-decoration-style: solid;
}

.column {
    float: left;
    width: 20%;
    padding: 5px;
}

.row{
    background-color: #f2f2f2;
}

.row::after {
    content: "";
    clear: both;
    display: block;
}

.icon{
    display: block;
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
    border-radius: 10px;
    background-color: #B4CFB0;
}


div.row{
    margin-left: 310px;;
    width: 70%;
    border: 3px solid green;
    padding: 10px;
}


.column p {
    background-color: transparent;
    border-width: 0;

}





