/* Navbar*/

.logo
{
    text-align: center;
    width: 100%;
    -webkit-text-stroke-width: 0.6px;
    -webkit-text-stroke-color: rgba(255, 255, 255, 0.84);
    font-size: 50px;
    font-family: 'Bungee Shade', cursive;
    color: #eff1ec;
}

.navbar a {
    background-color: rgba(169, 229, 234, 0.55);
    border-radius: 10px;
    padding: 8px;
    border-style: solid;;
    margin-right: 25px;
    margin-left: 25px;
    border-color: white;
    border-width: 1px;
    text-decoration: none;
    font-size: 18px;
    opacity: 100%;
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.navbar{
    font-family: 'Anton', sans-serif;
    background-color: rgba(148, 180, 159, 0.69);
    margin-bottom: 10px;
    border-color: black;
    padding: 1%;
    align-items: center;
    display: flex;
    justify-content: center;
    opacity: 90%;
}


.navbar a:hover
{
    color: #44c64c;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    transition: 1s
}

/*/Footer*/
.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(148, 180, 159, 0.69);
    color: black;
    font-family: "Times New Roman", Times, serif;
    text-align: center;
    font-size: 20px;
}

/*/Body*/

body{
    background-color: #E5E3C9;
}
