body{
    font-family: 'Anton', sans-serif;
}

.error {
    color: #f03636a4;
    -webkit-text-stroke: black;
    -webkit-text-stroke-width: 0.3px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
}

#form-support{
    width: 100%;
}

.success {
    color: rgba(172, 255, 47, 0.453);
    -webkit-text-stroke: black;
    -webkit-text-stroke-width: 0.3px;

}

.container-contact {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   padding: 30px 30px;
   text-align: center;
   font-family: 'Anton', sans-serif;
}

input,textarea{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 20px;
    width: 100%;
    text-align: center;
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 10px ;
    background-color: rgba(218, 231, 218, 0.95);
    border-radius: 30px;
    border-style: solid;
    border-color: rgb(54, 49, 49);
    border-width: 1px;
    float: right;
    max-width: 100%;
}

h2{
    font-size: 40px;
    color: white;
    -webkit-text-stroke: black;
    -webkit-text-stroke-width: 0.3px;
}

.buton-submit{
    padding: 10px 10px;
    color: white;
    background-color: rgb(54, 49, 49);
    cursor: pointer;
}
